<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "PluginsPath" value="C:\Users\sam\Documents\visual studio 2010\Projects\InputFileWatcher_1\FileImporter.FileReaders\bin\Debug\FileImporter.FileReaders.dll"/>
    <add key = "LandingDirectory" value="C:\pub\tempo"/>
    <add key = "WorkingDirectory" value="Working"/>
    <add key = "CheckInterval" value="5000"/>
  </appSettings>
</configuration>